<div class="menu-container">
    <div class="menu">
        <div class="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p class="indicadores">INDICADORES</p>
    </div>
    <div class="submenu">
        <div>
            <h4>PBI</h4>
            <li class="items"><a href="/pbi/pbi">PBI</a></li>
            <li class="items"><a href="/pbi/pbi-per-capita">PBI per cápita</a></li>
            <li class="items"><a href="/pbi/pbi-interanual">PBI (var. interanual)</a></li>
            <hr>
        </div>
        <div>
            <h4>Trabajo</h4>
            <li class="items"><a href="/trabajo/desempleo">Desempleo</a></li>
            <li class="items"><a href="/trabajo/empleo">Empleo</a></li>
            <li class="items"><a href="/trabajo/salarios">Salarios</a></li>
            <hr>
        </div>
        <div>
            <h4>Precios</h4>
            <li class="items"><a href="/precios/inflacion">Inflación</a></li>
            <li class="items"><a href="/precios/ipc">Índice de Precios al Consumo</a></li>
            <hr>
        </div>
        <div>
            <h4>Comercio</h4>
            <li class="items"><a href="/comercio/balanza-comercial">Balanza comercial</a></li>
            <li class="items"><a href="/comercio/llegada-de-turistas">Llegada de turistas</a></li>
        </div>
    </div>
</div>