<html>
<head>
    <title>Urunomics</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="home">
        <div class="background">
            <img class="background-image">
            <div class="color-layer"></div>
        </div>
        <header class="header">
            <div class="wrapper">
                <p class="title">URUNOMIC</p>
                <div class="menu">
                    <div class="burger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <p class="indicadores">INDICADORES</p>
                </div>
            </div>
        </header>
        <div class="search-wrapper">
            <input type="searchbox" class="searchbox" name="" id="" placeholder="Buscar...">
            <img src="../img/magnifying-glass.svg" class="magnifying-glass">
        </div>

        <div class="explore">
            <span>Explorar</span>
            <span>▼</span>
        </div>
    </section>

    <div class="cards-container">
        <div class="card">
            <img src="../img/i_pbi.jpg" class="card-image">
            <div class="card-color-layer"></div>
            <div class="card-content">
                <h4 class="name">PBI</h4>
                <hr class="underline">
                <li class="items"><a href="/pbi/pbi">PBI</a></li>
                <li class="items"><a href="/pbi/pbi-per-capita">PBI Per Cápita</a></li>
                <li class="items"><a href="/pbi/pbi-interanual">PBI (var. interanual)</a></li>
            </div>
        </div>
        <div class="card">
            <img src="../img/i_work.jpg" class="card-image">
            <div class="card-color-layer"></div>
            <div class="card-content">
                <h4 class="name">Trabajo</h4>
                <hr class="underline">
                <li class="items"><a href="/trabajo/desempleo">Desempleo</a></li>
                <li class="items"><a href="/trabajo/empleo">Empleo</a></li>
                <li class="items"><a href="/trabajo/salarios">Salarios</a></li>
            </div>
        </div>
        <div class="card">
            <img src="../img/i_prices.jpg" class="card-image">
            <div class="card-color-layer"></div>
            <div class="card-content">
                <h4 class="name">Precios</h4>
                <hr class="underline">
                <li class="items"><a href="/precios/inflacion">Inflación</a></li>
                <li class="items"><a href="/precios/ipc">Índice de Precios al Consumidor</a></li>
            </div>
        </div>
        <div class="card">
            <img src="../img/i_trade.jpg" class="card-image">
            <div class="card-color-layer"></div>
            <div class="card-content">
                <h4 class="name">Comercio</h4>
                <hr class="underline">
                <li class="items"><a href="/comercio/balanza-comercial">Balanza comercial</a></li>
                <li class="items"><a href="/comercio/llegada-de-turistas">Llegada de turistas</a></li>
            </div>
        </div>
    </div>

    <footer>
            <div>
                <img src="../img/symbol.svg" alt="">
                <span>jpmsoftware</span>
            </div>
            <hr>
            <span>Año 2020 - Montevideo, Uruguay</span>
    </footer>
</body>

</html>